<!DOCTYPE html>
<html>
<head>
    <style>
    .header{
        background-image: url('/static/img/squared_metal.png');
    }
    body{
        background-image: url('/static/img/light_grey.png');
    }
    .subhead{
        margin-left: 20px;
        font-size: 12px;
    }
    </style>
</head>
<body>
    <div class="header">
        <table>
            <tr>
                <td>
                    <h2>CloudBot-UI</h2>
                </td>
                <td>
                    <p class="subhead">A simple web app for accessing CloudBot's database.</p>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <a href="/">home? other buttons?</a>
                </td>
            </tr>-->
        </table>
    </div>
    {% block content %}{% endblock content %}
</body>
</html>