{% extends "base.html" %}
{% block style %}
.factoids th, .factoids td{
    border: 1px solid black;
}
.factoids{
    text-align: center;
}
{% endblock %}
{% block content %}

        <form method="POST" action="/factoid/add">
            <label for="word">Type your word</label>
            <input id="word" name="word" type="text"/>
            <label for="data">Enter data</label>
            <input id="data" name="data" type="text"/>
            <button type="submit">Submit!</button>
        </form>

<table class="factoids">
    <tr>
        <th>Nick</th>
        <th>Word</th>
        <th>Data</th>
    </tr>
    {% for factoid in factoids %}
    <tr>
        <td>{{ factoid.nick }}</td>
        <td>{{ factoid.word }}</td>
        {% if factoid.is_python() %}
        <td id="{{factoid.word}}">
          <code>{{ factoid.data }}</code>
          <form>
          <input type="text"/>
          <button onclick="event.preventDefault();ajax_eval('{{ factoid.word }}', '{{ factoid.data }}');">Submit</button>
          </form>
        </td>
        {% else %}
          <td>{{ factoid.data }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block js %}
        var ajax_eval = function(word, data){

        };
{% endblock %}
