{% extends "base.html" %}
{% block style %}
.quotes th, .quotes td{
    border: 1px solid black;
}
.quotes{
    text-align: center;
}
{% endblock %}
{% block content %}
<table class="quotes">
    <tr>
        <th>Channel</th>
        <th>Nick</th>
        <th>Add Nick</th>
        <th>Message</th>
        <th>Time</th>
    </tr>
    {% for quote in quotes %}
    <tr>
        <td>{{ quote.chan }}</td>
        <td>{{ quote.nick }}</td>
        <td>{{ quote.add_nick }}</td>
        <td>&lt;{{ quote.nick }}&gt; {{ quote.msg }}</td>
        <td>{{ quote.get_time() }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
