{% extends "base.html" %}
{% block style %}
.quotes th, .quotes td{
    border: 1px solid black;
}
.quotes{
    text-align: center;
}
{% endblock %}
{% block content %}
<form action="/quote/submit" method="post">
    <h2>Submit Quote</h2>
    <label for="add_nick">What's your nick?</label>
    <input id="add_nick" name="add_nick" type="text"/>
    <label for="message">What is the quote?</label>
    <input id="message" name="message" type="text"/>
    <button type="submit">Submit quote!</button>
</form>
<table class="quotes">
    <tr>
        <th>Channel</th>
        <th>Nick</th>
        <th>Add Nick</th>
        <th>Message</th>
        <th>Time</th>
    </tr>
    {% for quote in quotes %}
    <tr>
        <td>{{ quote.chan }}</td>
        <td>{{ quote.nick }}</td>
        <td>{{ quote.add_nick }}</td>
        <td>&lt;{{ quote.nick }}&gt; {{ quote.msg }}</td>
        <td>{{ quote.get_time() }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
